/* .calc {
    position: absolute;
    width: 350px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -250px;
    border: 1px solid #000;
} */

.calc {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    /* grid-gap: 5px; */
    /* grid-template-areas: 
    "header header"
    "sidebar content"
    "siderbar content"; */
    justify-content: center;
    text-align: center;
}

.grid-item {
    display: flex;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
}

.screen {
    grid-column: 1 / -1;
}

.zero {
    grid-column: 1 / 3;
}